* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #DFDCE3;
}

/* header style */
header {
    font-family: 'Roboto', sans-serif;
    background-color: #4ABDAC;
    border: 2px solid #FC4A1A;;
    border-radius: 25px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    width: 300px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 40px;
}

.fa {
    font-size: 2.5em;
    color: #FC4A1A;
    padding-right: 20px;
}

header h1 {
    color: #FC4A1A;
    font-weight: 700; 
}

/* nav style */

nav {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 40px;
}

nav ol {
    display: flex;
    justify-content: space-between;
    font-size: 1.1em;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
    color: #DFDCE3;
}

li a.current {
    color: #FC4A1A;
}

li a:hover {
    color: #FC4A1A;
    transition: .3s ease;
}


/* main style */

main {
    color: #195190FF;
    position: relative;
}

/* footer style */

footer {
    font-family: 'Roboto', sans-serif;
    background-color: #4ABDAC;
    color: #DFDCE3;
    height: 175px;
    border: 2px solid #FC4A1A;
    border-radius: 25px;
    text-align: center;
}

footer a {
    color: #FC4A1A;
}
footer p:first-child {
    margin-top: 50px;
}

footer p:last-child {
    margin-top: 20px;
}

footer p {
    font-size: 1.1em;
}

